<launch>

    <arg name="gimbal_ip" default="192.168.2.25" />
    <arg name="gimbal_port" default="37260" />
    <!-- <arg name="gimbal_fps" default="30" />
    <arg name="frame_width" default="1280" />
    <arg name="frame_height" default="720" /> -->
    <arg name="rtsp_url" default="rtsp://$(arg gimbal_ip):8554/main.264" />

    <!-- 控制节点 -->
    <node pkg="sunray_gimbal" name="gimbal_control_node" type="gimbal_control.py" output="screen">
        <param name="gimbal_ip" value="$(arg gimbal_ip)" />
        <param name="gimbal_port" value="$(arg gimbal_port)" />
    </node>

    <!-- 图像发布节点 -->
    <node pkg="sunray_gimbal" name="image_publisher" type="image_publisher" output="screen">
        <param name="rtsp_url" value="$(arg rtsp_url)" />
    </node>
</launch>
