<launch>
  <arg name="takeoff_hover_s" default="2.0" />
  <arg name="move_hover_s" default="1.0" />
  <arg name="move_x_m" default="1.0" />

  <node pkg="uav_control"
        type="sunray_attitude_smoke_demo_node"
        name="sunray_attitude_smoke_demo_node"
        output="screen">
    <param name="takeoff_hover_s" value="$(arg takeoff_hover_s)" />
    <param name="move_hover_s" value="$(arg move_hover_s)" />
    <param name="move_x_m" value="$(arg move_x_m)" />
  </node>
</launch>
